@import "default.css";

body {
    font-family: '맑은 고딕', sans-serif;
    background: #FDE7B0;
    overflow: hidden;
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    /*추가*/
    max-width:767px;
    min-width:360px;
}

#wrapper>img {
    display: block;
    width: 338px;
    height: 320px;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

#wrapper>h1 {
    width: 257px;
    height: 71px;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    text-indent: -9999px;
    background: url("../img/logo.png") no-repeat center center;
}

#wrapper>.start {
    display: block;
    width: 180px;
    height: 50px;
    border: 2px solid #222;
    border-radius: 25px;
    text-indent: -9999px;
    background: #fc0 url("../img/start.png") no-repeat center center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}